<!-- <table class="table table­striped table­bordered table­hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Subtotal price</th>
      <th>Total price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @cart.user %></td>
        <td><%= @cart.subtotal_price %></td>
        <td><%= @cart.total_price %></td>
        <td><%= link_to 'Show', @cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(@cart) %></td>
        <td><%= link_to 'Destroy', @cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br> -->