<p id="notice"><%= notice %></p>

<h1>Listing Carts</h1>


<% if @cart.nil? %>
<h3>Hi <%= current_user.email %> your cart is empty</h3>
<% else %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Item quantity</th>
      <th>Unit price</th>
      <th>Total price item</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.product.product_name %></td>
        <td><%= cart_item.item_quantity %></td>
        <td><%= cart_item.product.product_cost %></td>
        <td><%= cart_item.total_price_item %></td>
        <td><%= link_to 'Show', cart_item %></td>
        <td><%= link_to 'Edit', edit_cart_item_path(cart_item) %></td>
        <td><%= link_to 'Destroy', cart_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><span class="text-center">Subtotal Price</span></td>
      <td><%= @cart.subtotal_price %></td>
    </tr>
    <tr>
      <td colspan="3"><span text-align="center">Total Price</span></td>
      <td><%= @cart.total_price %></td>
    </tr>
  </tfoot>
</table>
<% end %>
<br>
<%= link_to 'New Cart', new_cart_path %> | 
<%= link_to 'Products',products_path %>
